@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.woff');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.woff');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold.woff');
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

:root{
  --container-width: min-width;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

img{
  max-width: 100%;
}

body{
  max-width: 3840px;
  font-family: "Montserrat", "sans-serif";
  font-weight: normal;
  background: #FFFFFF;
}

.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset{
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container{
  max-width: 1770px;
  padding: 0;
  margin: 0 auto;
}

.hidden{
  visibility: hidden;
  z-index: -1000;
}

/*header*/

.header{
  max-width: 100%;
  height: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.burger{
  display: none;
}

.header__container{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
}

.header__blog{
  display: flex;
  align-items: center;
}

.header__nav{
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav__list{
  display: flex;
}

.nav__link{
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover{
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255, 153, 0, 1);
}

.nav__link:focus{
  border: none;
  outline-offset: 5px;
  outline: 2px solid rgba(255, 153, 0, 1);
}

.nav__link:active{
  outline: none;
  border-bottom: 2px solid #E1670E;
  color: rgba(225, 103, 14, 1);
}

.nav__item{
  margin-right: 85px;
}

.header__search-icon svg{
  stroke: #333333;
  transition: stroke 0.3s ease-in-out;
}

.header__search-icon svg:hover{
  stroke: #FF9900;
}
.header__search-icon svg:focus{
  stroke: #333333;
  outline-offset: 5px;
  outline: 2px solid #FF9900;
}

.header__search-icon svg:active{
  border: none;
  stroke: #FF9900;
}

.header__div{
  display: none;
  position: absolute;
  width: 539px;
  height: 60px;
}

.header__div--active{
  display: block;
}

/*.search__icon{
  position: relative;
}*/

.header__block-search{
  position: absolute;
  right: 0;
  top: 0;
  width: 539px;
  height: 60px;
  z-index: 3000;
  padding: 16px 32px;
  padding-right: 80px;
  box-shadow: 0px 0px 20px 0px #0000001F;
  background-color: #fff;
  overflow-y: auto;
  visibility: hidden;
  transform: translateX(0);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 20px;
  border: none;
}

.header__block-search--active{
  visibility: visible;
  transform: translateX(0%);
}

.search__close--active{
  position: absolute;
  z-index: 3500;
  right: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 24px;
  height: 24px;
  stroke: #999999;
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.search__close--active:hover{
  stroke: #FF9900;
}

.search__close--active:focus{
  stroke: #999999;
  outline-offset: 3px;
  outline: 2px solid #FF9900;
}

.search__close--active:active{
  stroke: #333333;
}

.search__close--active rect{
  fill: #999999;
  transition: fill 0.3s ease-in-out;
}

.search__close--active:hover rect{
  fill: #FF9900;
}

.search__close--active:active rect{
  fill: #333;
}

.search__icon--active{
  position: absolute;
  z-index: 3500;
  right: 3%;
  top: 50%;
  transform: translateX(-200%) translateY(-50%);
  width: 24px;
  height: 24px;
  stroke: #FF9900;
}

.header__search--active
.search__close{
  display: block;
  z-index: 2000;
}

/*main*/

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  margin: 0 10px;
  background-color: #fff;
  margin-bottom: 12px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next{
  display: none;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  display: none;
}

.main__container{
  height: 100%;
  margin-bottom: 100px;
}

.swiper {
  max-width: 1770px;
  height: 100%;
}

.main__blog{
  padding: 100px 0 100px 80px;
  position: relative;
}

.swiper-slide img{
  position: absolute;
}

.main__blog{
  max-width: 100%;
  height: 100%;
  align-items: center;
}

.main__title{
  width: 64%;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 70px;
  line-height: 85.33px;
  margin-top: 0;
  margin-bottom: 23px;
}

.main__descr{
  width: 55%;
  color: #FFFFFF;
  font-weight : 700;
  font-size: 24px;
  line-height: 29.26px;
  margin-top: 0;
  margin-bottom: 87px;
}

.main__btn{
  color: #FFFFFF;
  background-color: #FF9900;
  padding: 24.83px 36.88px;
  Font-size: 23.46px;
  Line-height: 28.6px;
  font-weight : 700;
  transition: background-color 0.3s ease-in-out;
}

.main__btn:focus{
  background-color: #FF9900B2;
}

.main__btn:hover{
  background-color: #FF9900B2;
}

.main__btn:active{
  background-color: #E1670E;
}
/*about-us*/

.about-us__container{
  margin-bottom: 100px;
}

.about-us__top{
  min-height: 271px;
  max-width: 1235px;
  margin-bottom: 50px;
}

.about-us__title{
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  margin-bottom: 20px;
}

.about-us__descr{
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about-us__bot{
  display: flex;

}

.about-us__first-blog{
  display: flex;
  width: 50%;
  align-items: flex-end;
  max-height: 100%;
  margin-right: 32px;
  background-image: url(../img/Rectangle\ 2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.first-blog__block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url('../img/Rectangle\ 5.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.first-blog__descr{
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 454px;
}

.first-blog__btn{
  border: solid 3px #FF9900;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  align-items: center;
  padding: 20px 38px;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
}

.first-blog__btn:hover{
  background-color: #FF9900;
}

.first-blog__btn:focus{
  background-color: #FF9900;
}

.first-blog__btn:active{
  border: none;
  background-color: #E1670E;
}

.about-us__second-blog{
  width: 50%;

}

.second-blog__block-top{
  border: solid 1px #CACACA;
  height: calc(50% - 16px);
  background-image: url('../img/Frame\ 16.svg');
  background-repeat: no-repeat;
  background-position: center left 9%;
  padding: 65px 110px 65px 300px;
  margin-bottom: 32px;
}

.second-blog__title{
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 29.26px;
  color: #333333;
  margin-bottom: 8px;
}

.second-blog__descr{
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.second-blog__block-bot{
  border: solid 1px #CACACA;
  height: calc(50% - 16px);
  background-image: url('../img/Frame\ 12.svg');
  background-repeat: no-repeat;
  background-position: center left 9%;
  padding: 65px 117px 65px 300px;
}

/*work*/

.work{
  margin-bottom: 98px;
}

.work__blog{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.work__left-block{
  width: 50%;
  min-height: 460px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work__right-block img{
  width: 870px;
  height: 100%;
  min-height: 160px;
}

.work__title{
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 50px;
}

.work__list{
  display: flex;
  margin-bottom: 45px;
}

.work__link:not(:last-child){
  margin-right: 86px;
}

.work__link{
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  color: #333333;
  transition: color 0.3s ease-in-out;
}

.work__link:hover{
  color: #FF9900;
}

.work__link:focus{
  color: #333333;
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.work__link:active{
  color: #E1670E;
}

.left-block__blog{
  height: calc(100% - 60px);
}

.left-block__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-bottom: 8px;
}

.left-block__descr{
  max-width: 758px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-bottom: 50px;
}

.left-block__btns{
  display: inline-flex;
  min-width: 40%;
  height: 60px;
  justify-content: space-between;
}

.left-block__btn-one{
  width: 175px;
  height: 60px;
  color: #FFFFFF;
  background-color: #FF9900;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 4%;
  transition: background-color 0.3s ease-in-out;
}

.left-block__btn-one:hover{
  background-color: #F7B045;
}

.left-block__btn-one:focus{
  background-color: #F7B045;
}

.left-block__btn-one:active{
  background-color: #E1670E;
}

.left-block__btn-two{
  width: 147px;
  height: 60px;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: solid 1px #333333;
  transition: color  0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.left-block__btn-two:hover{
  border: none;
  color: #FFFFFF;
  background-color: #666666;
}

.left-block__btn-two:focus{
  border: none;
  color: #FFFFFF;
  background-color: #666666;
}

.left-block__btn-two:active{
  background-color: #000000;
}

.work__link-btn--active{
  color: #E1670E;
}

.work__blog{
  display: none;
}

.tabs-item--active{
  display: flex;
}

/*questions*/

.questions__title{
  margin: 0;
  min-height: 70px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  margin-bottom: 32px;
}

.questions__item{
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: solid 1px #CACACA;
  border-bottom: solid 1px #CACACA;
}

.questions__item:first-child{
  padding-top: 17px;
}

.questions__item:focus{
  border-color: #FF9900;
  border-bottom: solid 1px #FF9900;
}

.questions__item:hover{
  color: #FF9900;
  border-color: #FF9900;
  border-bottom: solid 1px #FF9900;
}

.questions__item:active{
  border-color: #CACACA;
  border-bottom: solid 1px #CACACA;
}

.questions__item:last-child{
  margin-bottom: 96px;
}

.questions__item path{
  fill:#666666;
  transition: transform 0.3s ease-in-out;
}

.questions__item:focus path{
  fill: #FFFFFF;
}

.questions__item:hover path{

  fill: #FFFFFF;
}

.questions__item:active path{
  fill: #666666;
}

.questions__item:focus ellipse{
  fill: #FF9900;
}

.questions__item:hover ellipse{
  fill: #FF9900;
}

.questions__item:active ellipse{
  fill: #ECECEC;
}

.questions__item svg{
  transition: transform 0.3s ease-in-out;
}

.questions__item:hover svg{
  transform: rotate(45deg);
}

.questions__item:active svg{
  transform: rotate(45deg);
}

.questions__link{
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  justify-content: space-between;
  align-items: center;
  color: rgba(51, 51, 51, 1);
}

.questions__link:hover{
  color: #FF9900;
  border-color: #FF9900;
}

.questions__link:focus{
  color: #FF9900;
  border-color: #FF9900;
}

.questions__link:active{
  color: #333333;
}

.ac{
  border: none;
}

.ac .ac-trigger{
  width: 86%;
  padding: 0;
}

.ac-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}

.ac .ac-header{
  min-height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

/*footer*/

.footer__blog{
  position: relative;
  display: flex;
  background-color: #222222;
  padding: 50px 75px;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
}

.footer__logo{
  margin-bottom: 17px;
}

.footer__blog-list{
  margin-bottom: 37%;
}

.footer__item{
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
}

.footer__link{
  transition: color 0.3s ease-in-out;
}

.footer__link:hover{
  color: #FF9900;
}

.footer__link:focus{
  color: #CACACA;
  outline: 2px solid #FF9900;
  outline-offset: 3px;
}

.footer__link:active{
  outline: none;
  color: #E1670E;
}

.footer__blog_item:last-child{
  margin-bottom: 89px;
}

.footer__meta svg{
  fill: #7C7C7C;
  margin-right: 8%;
}

.footer__meta:hover svg{
  fill: #FF9900;
}

.footer__meta:focus svg{
  outline: 2px solid #FF9900;
  outline-offset: 2px;
}
.footer__meta:active svg{
  outline: none;
  fill: #E1670E;
}

.footer__vk svg{
  fill: #7C7C7C;
  margin-right: 8%;
}
.footer__vk:hover svg{
  fill: #FF9900;
}

.footer__vk:focus svg{
  outline: 2px solid #FF9900;
  outline-offset: 2px;
}
.footer__vk:active svg{
  outline: none;
  fill: #E1670E;
}

.footer__inst svg{
  fill: #7C7C7C;
}
.footer__inst:hover svg{
  fill: #FF9900;
}

.footer__inst:focus svg{
  outline: 2px solid #FF9900;
  outline-offset: 2px;
}
.footer__inst:active svg{
  outline: none;
  fill: #E1670E;
}

.footer__mid-form{
  position: absolute;
  width: 30%;
  left: 50%;
  transform: translateX(-49%);
}

.footer__title{
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  color: #CACACA
}

.footer__form{
  display: block;
  width: 100%;
}

.form__name{
  width: 100%;
  min-height: 60px;
  background-color: #414141;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 25px;
  border: none;
  padding-left: 24px;
  color: #FFFFFF;
}

.form__name:hover{
  background-color: #666666;
}

.form__name:focus{
  background-color: #666666;
}

.form__name:active{
  background-color: #666666;
}

.form__mail{
  width: 100%;
  min-height: 60px;
  background-color: #414141;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 26px;
  border: none;
  padding-left: 24px;
  color: #FFFFFF;
}

.form__mail:hover{
  background-color: #666666;
}

.form__mail:focus{
  background-color: #666666;
}

.form__mail:active{
  background-color: #666666;
  border: none;
}

.form__textarea{
  width: 100%;
  min-height: 150px;
  background-color: #414141;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 27px;
  border: none;
  padding-top: 14px;
  padding-left: 24px;
  color: #FFFFFF;
}

.form__textarea:hover{
  background-color: #666666;
}

.form__textarea:focus{
  background-color: #666666;
}

.form__textarea:active{
  background-color: #666666;
}

.form__btns{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form__btn{
  width: 269px;
  height: 58px;
  margin-right: 25px;
  background-color: #FF9900;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  transition: background-color 0.3s ease-in-out;
}

.form__btn:hover{
  background-color: #F7B045;
}

.form__btn:focus{
  background-color: #F7B045;
}

.form__btn:active{
  background-color: #E1670E;
}

.form__check{
  cursor: pointer;
  user-select: none;
  margin-top: 14px;
}

.form__check input{
  display: none;
}

.check__span{
  text-align: center;
}

.form__check span{
  position: relative;
  display: inline-block;
  /*vertical-align: middle;*/
  padding-left: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #CACACA;
}

.form__check span::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
}

.form__check input:checked + span::after{
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.form__check span::after{
  content: url(../img/Rectangle\ 44.svg);
  position: absolute;
  left: -2px;
  top: -2px;
  width: 20px;
  height: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.footer__descr{
  max-width: 363px;
  color: #CACACA;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}
